<%- include('partials/header') %>

<section>
  <h2>Submitted Data</h2>
  <ul>
    <li>Username: <%= user.username %></li>
    <li>Age: <%= user.age %></li>
    <li>Email: <%= user.email %></li>
    <li>Mobile: <%= user.mobile %></li>
  </ul>
</section>

<%- include('partials/footer') %>
