<%- include('partials/header') %>

<section>
  <% if (user) { %>
    <h2>Result for "<%= name %>"</h2>
    <ul>
      <li><strong>Age:</strong> <%= user.age %></li>
      <li><strong>Email:</strong> <%= user.email %></li>
      <li><strong>Mobile:</strong> <%= user.mobile %></li>
    </ul>
  <% } else { %>
    <h2>No user found with name "<%= name %>"</h2>
  <% } %>
</section>

<%- include('partials/footer') %>
